html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.mainBody {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: azure;
  background-color: black;
  border: 1px solid red;
}

.container {
  color: white;
  border-color: blueviolet;
}

.searchArea {
  display: flex;
}

.search-input {
  width: 400px;
  height: 50px;
  border-color: azure;
  background-color: black;
  color: white;
}

.sort-buttons {
  display: flex;
}

.btn1 {
  width: 200px;
  height: 50px;
  border-color: azure;
  background-color: black;
  color: white;
}
.btn2 {
  width: 200px;
  height: 508px;
  border-color: azure;
  background-color: black;
  color: white;
}
